$color-primary: #7743DB;
$color-primary-60: #6A31D8;
$color-primary-85: #8658DF;

$color-secondary: #108670;
$color-secondary-2: #1CA883;
$color-secondary-3: #21CEA1;

$color-tertiary: #CD4D00;
$color-tertiary-2: #F55C00;
$color-tertiary-3: #FF7D00;

$color-blue-dark: #131B56;
$color-blue-black: #111329;

$color-white: #FFFFFF;
$color-white-2: #F2F2F2;
$color-white-3: #BDBDBD;

$color-gray: #F5F6FB;

$color-black: black;