@use '@styles/variables' as *;

.sales {

    &-dashboard {
        width: clamp(100rem, 120rem, 140rem);
        display: flex;
        flex-direction: column;
        gap: $gap-large
    }

    &-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    }

    .numbers {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
    }

    &-chart {
        padding: calc($padding-large * 2) calc($padding-large * 3 + $padding-medium);
        background-color: $color-white;
        border-radius: 1.2rem;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}
