@use '@styles/variables' as *;

.skeleton-card {

    &.loading {
        background-color: $color-white-2-2;
        border-radius: clamp($border-radius-medium, $border-radius-large, $border-radius-extra-large);
        padding: $padding-medium $padding-large;
        background: linear-gradient(90deg, transparent, $color-white-3, transparent);
        background-size: 200% 100%;
        animation: loading 10s infinite;

        p, h1, h2, h3, h4, h5, h6 {
            color: transparent !important;
            visibility: visible;
            background: linear-gradient(90deg, transparent, $color-white-3, transparent);
            background-size: 200% 100%;
            animation: loading 1.5s infinite;
        }

        *:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
            visibility: hidden;
        }
    }
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
