$color-primary: #7743DB;
$color-primary-2: #6A31D8;
$color-primary-3: #8658DF;

$color-blue-dark: #131B56;
$color-blue-black: #111329;

$color-white: #FFFFFF;
$color-white-2: #F2F2F2;
$color-white-2-2: #E5E5E5;
$color-white-3: #BDBDBD;

$color-gray: #F5F6FB;

$color-black: black;