$sidebar-width: 8rem;

$small: .4rem;
$medium: .8rem;
$large: 1.2rem;
$extra-large: 1.6rem;

$border-radius-small: $small;
$border-radius-medium: $medium;
$border-radius-large: $large;
$border-radius-extra-large: $extra-large;

$padding-small: $small;
$padding-medium: $medium;
$padding-large: $large;
$padding-extra-large: $extra-large;


$gap-small: .8rem;
$gap-medium: 1.6rem;
$gap-large: 2.4rem;

